:root{
  --white-font: whitesmoke;
  --lightest-gray: #adb5bd;
  --medium--gray: #495057;
  --darkest-gray: #212529;
}

body{
  font-family: 'Abyssinica SIL', serif;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100vh;
}

body div{
  padding: 4px;
}

div h6, div p, div h3{
  margin: 0;
}

.lorem-ipsum h4{
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.lore-paragraph:hover{
  text-decoration-line: underline;
}

/* header */
.header{
  grid-column: 2/3;
  background-color: var(--lightest-gray);
  color: var(--darkest-gray);
  padding: 1rem;
  display: grid;
  gap: 0.5rem
}

.search, .user{
  display: grid;
  grid-template-columns: 2fr 2fr 1fr 1fr;
  grid-auto-rows: 1.5rem;
  align-items: center;
}

.user{
  display: grid;
  grid-template-columns: repeat(3, 1fr) 1.5fr;
}

#search-bar{
  display: grid;
  grid-template-columns: 0.5fr 4fr;
}

.header input{
  border-radius: 8px;
  border: none;
}

.icons{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: end;
}

.header p{
  margin-left: 0.5rem;
}

#user-message{
  display: grid;
  grid-template-columns: 0.5fr 3fr;
  align-items: center;
}

.user ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  justify-items: center;
  gap: 4px;
}

button{
  border-radius: 8px;
  width: 4rem;
  height: 2rem;
  border: solid 2px var(--darkest-gray);
  background-color: var(--white-font);
  font-family: 'Abyssinica SIL', serif;
}

button:hover{
  background-color: var(--medium--gray);
  color: var(--white-font);
}

/* Sidebar */
.sidebar{
  background-color: var(--darkest-gray);
  color: var(--white-font);
  grid-row: 1/3;
  display: grid;
  grid-template-rows: 1fr 8fr;
}

#dashboard{
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
  gap: 1rem;
}

#sidebar-options{
  display: grid;
  grid-template-rows: 0.5fr 1fr;
}

.image-option{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35px, 1fr));
}

.image-option p:hover{
  text-decoration-line: underline;
}



/* Main content */
.main-content{
  background-color: var(--medium--gray);
  color: var(--white-font);
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1rem;
}

.project-tab{
  grid-row: 1/3;
}

.projects{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: 1rem;
}

#projects-title{
  grid-column: 1/-1;
}

.cool-project, .announcements, .trends{
  border: 1px solid var(--darkest-gray);
  border-radius: 8px;
  background-color: var(--lightest-gray);
  color: var(--darkest-gray);
  text-align: center;
}

.cool-project{
  width: 10rem;
  height: 10rem;
}

.cool-project:hover{
  transform: scale(1.1);
}

.announcements .line{
  margin-left: 5%;
}

/* This CSS is just to see how functionality is working */

.circle{
  border: 1px solid black;
  border-radius: 100px;
  height: 1rem;
  width: 1rem;
  margin-top: 4px;
}

.line{
  border-top: 1px solid white;
  width: 90%;
  grid-column: 1/-1;
}

.dark-line{
  border-top: 1px solid black;
  width: 90%;
  grid-column: 1/-1;
}

.image-option + .line{
  margin-top: 8px;
}

p{
  margin: 0;
}